.app-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 70px;
  width: 230px;
  overflow: auto;
  z-index: 1;
  background-color: $sidebar-color;
  box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease, width 0.3s ease;
  @media (max-width: 767px) {
    left: -230px;
  }

  .app-menu {
    margin-bottom: 0;
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      position: relative;
      display: flex;
      color: #fff;
      align-items: center;
      padding: 12px 15px;
      border-left: 2px solid transparent;
      text-decoration: none;
      &:hover:not(.active) {
        color: hotpink;
        background-color: rgba(17, 40, 83, 0.4);
      }
    }
    .active {
      background-color: rgba(3, 3, 3, 0.4);
    }
  }
}
.app-sidebar__toggle {
  padding: 0 15px;
  color: #fff;
  line-height: 50px;
  display: none;
  transition: background-color 0.3s ease;
  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
  @media (max-width: 767px) {
    order: -1;
    display: inline-block;
  }
  span {
    display: inline-block;
    padding: 15px;
  }
}
.app.sidebar-toggled .app-sidebar {
  left: 0px;
}
